html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: silver;
}

.body-bg {
  background-size: cover;
}

.menu {
  background: #e0e0e0;
  display: flex;
  font-family: "Tillana", cursive;
  justify-content: flex-start;
  text-shadow: #222 1px 1px 3px;

  .title {
    color: whitesmoke;
    text-align: center;
    margin-left: auto;
  }

  a {
    border: 0px;
    background: none;
    padding: 15px;
    display: flex;
    margin: 0px 15px;
    &:last-child {
      margin-left: auto;
    }
    button {
      border: 0px;
      background: none;
      font-size: 20px;
    }
  }
}

.search-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: whitesmoke;
  align-items: center;
  input {
    width: 80%;
    font-family: "Tillana", cursive;
    font-size: 16px;
    background: #e0e0e025;
    padding: 5px;
    border: 0px;
    color: white;

    border-bottom: 3px solid whitesmoke;
    margin-left: auto;
    margin-right: auto;
    &::placeholder {
      color: white;
    }
  }
  i {
    right: 10%;
    font-size: 20px;
    position: absolute;
  }
}

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  padding: 30px;
  .card,
  .place-info {
    display: flex;
    flex-flow: column;
    background: #e0e0e0;
    border-radius: 10px;
    .img-container {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      min-height: 150px;

      h4 {
        color: whitesmoke;
        width: 100%;
        text-align: center;
        font-size: 20px;
      }
      img {
        width: 100%;
      }
    }
  }

  .place-info {
    display: none;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-height: 600px;
    width: 100%;
    border-radius: 0px;

    #map {
      margin: 15px -15px;
      height: 100%;
      min-height: 200px;
    }

    .img-container {
      border-radius: 0px;
      min-height: 300px;
      i {
        position: absolute;
        top: 22px;
        left: 5%;
        font-size: 30px;
        color: whitesmoke;
      }
    }
  }
  .container {
    padding: 15px;
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .options {
    font-size: 22px;
    padding: 15px;
    display: flex;
    color: #222;
    i {
      padding: 0px 10px;
    }
    :first-child {
      margin-right: auto;
    }
  }
  .place-contact {
    margin-top: auto;
    padding: 15px;
  }
}
.place-tags {
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
    list-style: none;
    .tag {
      margin: 15px;
      padding: 5px;
      border: 1px solid;
      border-radius: 5px;
    }
  }
}

.user-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 600px;
  padding: 15px;
  width: 90%;
  border-radius: 5px;
  opacity: 0;
  display: none;
  background: silver;
  z-index: 999;

  .register-form {
    display: flex;
    flex-flow: column;
    padding: 15px;

    .register-button {
      button {
        width: 80%;
        background-color: whitesmoke; /* Green */
        border: none;
        color: black;
        text-align: center;
        padding: 30px;
        text-decoration: none;
        display: inline-block;
        font-size: 40px;
      }
    }
    .field {
      display: flex;
      padding: 15px;

      justify-content: center;
      .label-wrapper {
        position: absolute;
        color: gray;
      }
      input {
        width: 100%;
        border: 0px;
        padding: 5px;
      }
    }
  }
}

.already {
  color: silver;
  p {
    text-align: center;
  }
}

.parentDisable {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
}
