html,
body {
  margin: 0px;
  padding: 0px;
  background-color: silver; }

.menu {
  color: #e0e0e0;
  display: flex;
  font-family: "", cursive;
  justify-content: flex-start; }
  .menu i {
    color: #e0e0e0; }
  .menu .title {
    font-family: "Monserrat", sans-serif;
    text-align: center;
    margin-left: auto;
    align-self: center; }
  .menu a {
    border: 0px;
    background: none;
    padding: 15px;
    display: flex;
    margin: 0px 15px; }
    .menu a p {
      font-weight: bold;
      margin-right: 10px; }
    .menu a:last-child {
      margin-left: auto; }
    .menu a button {
      border: 0px;
      background: none;
      font-size: 20px; }

.search-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: whitesmoke;
  align-items: center; }
  .search-container input {
    width: 80%;
    font-size: 16px;
    background: #ec9c9c25;
    padding: 5px;
    border: 0px;
    color: white;
    border-bottom: 3px solid whitesmoke;
    margin-left: auto;
    margin-right: auto; }
    .search-container input::placeholder {
      color: white; }
  .search-container i {
    right: 10%;
    font-size: 20px;
    position: absolute; }

.list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  padding: 30px;
  font-family: "Montserrat", sans-serif; }
  .list-wrapper .card,
  .list-wrapper .place-info {
    display: flex;
    flex-flow: column;
    border-radius: 10px; }
    .list-wrapper .card.dark,
    .list-wrapper .place-info.dark {
      background: #222;
      color: whitesmoke; }
    .list-wrapper .card.light,
    .list-wrapper .place-info.light {
      background: #e0e0e0;
      color: #222; }
    .list-wrapper .card .img-container,
    .list-wrapper .place-info .img-container {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      display: flex;
      min-height: 150px; }
      .list-wrapper .card .img-container h4,
      .list-wrapper .place-info .img-container h4 {
        color: #e0e0e0;
        height: 15%;
        width: 100%;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        box-shadow: 0px 8px 8px -5px #333; }
        .list-wrapper .card .img-container h4.dark,
        .list-wrapper .place-info .img-container h4.dark {
          background: url("../img/purple.png"); }
        .list-wrapper .card .img-container h4.light,
        .list-wrapper .place-info .img-container h4.light {
          color: whitesmoke;
          background: url("../img/green.png"); }
      .list-wrapper .card .img-container img,
      .list-wrapper .place-info .img-container img {
        width: 100%; }
  .list-wrapper .place-info {
    display: none;
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-height: 100%;
    width: 100%;
    border-radius: 0px; }
    .list-wrapper .place-info h4 {
      margin-top: 100px; }
    .list-wrapper .place-info p {
      text-align: center; }
    .list-wrapper .place-info #map {
      margin: 15px -15px;
      height: 100%;
      min-height: 200px; }
    .list-wrapper .place-info .img-container {
      border-radius: 0px;
      min-height: 300px; }
      .list-wrapper .place-info .img-container i {
        position: absolute;
        top: 22px;
        left: 5%;
        font-size: 30px;
        color: whitesmoke; }
  .list-wrapper .container {
    padding: 15px;
    display: flex;
    flex-flow: column;
    height: 100%; }
  .list-wrapper .options {
    font-size: 22px;
    padding: 15px;
    display: flex;
    color: #222; }
    .list-wrapper .options i {
      padding: 0px 10px; }
    .list-wrapper .options :first-child {
      margin-right: auto; }
  .list-wrapper .place-contact {
    margin-top: auto;
    padding: 15px; }
    .list-wrapper .place-contact p {
      text-align: center; }

.place-tags .tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 15px;
  list-style: none; }
  .place-tags .tag-list .tag {
    margin: 15px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px; }

.user-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  max-height: 600px;
  padding: 15px;
  width: 90%;
  border-radius: 5px;
  font-family: "Monserrat", sans-serif;
  opacity: 0;
  display: none;
  background: whitesmoke;
  z-index: 999; }
  .user-form .register-form {
    display: flex;
    flex-flow: column;
    padding: 15px; }
    .user-form .register-form .register-button button {
      width: 80%;
      background-color: none;
      border: none;
      color: black;
      border: 2px solid silver;
      text-align: center;
      padding: 30px;
      text-decoration: none;
      display: inline-block;
      font-size: 40px; }
    .user-form .register-form .field {
      display: flex;
      padding: 15px;
      justify-content: center; }
      .user-form .register-form .field .label-wrapper {
        position: absolute;
        color: gray;
        left: 5%;
        margin-top: 5px; }
        .user-form .register-form .field .label-wrapper i {
          margin-right: 10px; }
        .user-form .register-form .field .label-wrapper label {
          position: absolute;
          width: 300px;
          bottom: 0px;
          transition: ease-in-out 0.5s; }
          .user-form .register-form .field .label-wrapper label.focus {
            bottom: 20px; }
      .user-form .register-form .field input {
        width: 100%;
        border: 0px;
        padding: 5px;
        background: none;
        border-bottom: 2px solid silver; }

.already {
  color: #363636; }
  .already p {
    text-align: center; }
  .already a {
    font-weight: bold; }

.parentDisable {
  transition: ease-in-out 0.5s;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
  z-index: 998;
  height: 100%;
  width: 100%; }
