
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #222;
}

.columns {
  display: flex;
  flex-basis: auto;
  height: 100%;
  filter:  grayscale(100%);
  &.clicked{
    animation: color 1s forwards
  }

  .column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    h2 {
      padding-top: 100px;
      margin: 0px;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 60px;
      font-weight: normal;
      font-family: 'Do Hyeon',sans-serif;

      &.travel-title{
        color: white;
      }
      &.party-title{
        color: white
      }
    }

    a{
      margin-left: auto;
      margin-right: auto;
    }
    button {
      width: 100%;
      background: none;
      font-weight: bold;
      opacity: 0;
      border: 0px;
      i {
        font-size: 60px;
        color: white;
      }
      &.show{
        animation: appear 0.5s forwards
      }
      &.hide{
        animation: dissapear 0.5s forwards;
      }
    }
  }
  .column1 {
    background: url("~/../img/explore.jpg")
      no-repeat center center fixed;
    background-size: cover;
    flex: 1;
    &.open {
      animation: open 3s  forwards;
    }
    &.close {
      animation: close 1s  forwards;
    }
  }
  .column2 {
    background: url("~/../img/party.jpg")
      no-repeat center center fixed;
    background-size: cover;
    flex: 1;
    &.open {
      animation: open 3s  forwards;
    }
    &.close {
      animation: close 1s  forwards;
    }
  }
  
}

@keyframes open {
  0% {
    flex: 1;
  }
  100% {
    flex: 12;
  }
}

@keyframes close {
  0% {
    filter: none;
  }

  100% {
    filter:  grayscale(100%);
  }
}

@keyframes color {
  0% {
    filter:  grayscale(100%);
  }

  100% {
    filter:  none;

  }
}

@keyframes appear{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes dissapear{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}